PIV/Codes/Segmentation-Models/DynamicMask.pt
PIV/Tomas/
PIV/Otras/
PTV/Codes/Segmentation-Models/yolo11s-seg.pt
PTV/Tomas/
PTV/Otras/
PTV/Realizadas/
ResultadosPIV/
ResultadosPTV/
Masks/
TomasProcesadas/
pipeline_config.json
fotos_random/
PTVPreprocesadas/
ResultadosPTVFiltrado/

# Excepciones - mantener archivos README
!ResultadosPIV/README.md
!ResultadosPTV/README.md

Videos/salida/