PIV/Codes/Segmentation-Models/DynamicMask.pt
PIV/Tomas/
PTV/Codes/Segmentation-Models/yolo11s-seg.pt
PTV/Tomas/
PTV/Otras/
ResultadosPIV/
ResultadosPTV/
Masks/
TomasProcesadas/
pipeline_config.json
fotos_random/
PTVPreprocesadas/